<section id="content" class="main-content" role="main">
    <div>
        <h2 id="aboutTitle">&#60;Hello; I’m Mallory&#62;</h2>
        <img id="me" src="{{site.baseurl}}/assets/img/me.png" alt="Me">
        <p id="aboutContent">I am a Junior Web Developer in Calgary, Alberta. My interest in web development sparked through designing websites for local businesses utilizing web template websites, such as Wix and Shopify. After which, I enrolled in the Web Development program at SAIT…and the rest is history. <br>I believe web development is an art: the viewport is a blank canvas awaiting to be painted with colorful code and molded through logic-based creativity. I have a passion for building innovative, marketable websites that include intuitive features and attractive eye candy to enhance the UX for local businesses. <br>We are not defined by what we have done, but what we dream of accomplishing. I am fuelled by learning new coding superpowers to style engaging user-friendly designs and aspire to continually grow and learn new coding talents. To me, web developing is not a job,it’s a passion. Connect with me, let’s make something amazing together.
        </p>
        <a id="blogButton" class="button" href="/contact">
          <div>Contact Me</div>
          <div>Contact Me</div>
      </a>
    </div>
  </section>
  <div class="bottom">
    <ul class="logoList">
        <li><img class="logos" src="{{site.baseurl}}/assets/img/codepen.svg" alt="logo"></li>
        <li><img class="logos" src="{{site.baseurl}}/assets/img/docker.svg" alt="logo"></li>
        <li><img class="logos" src="{{site.baseurl}}/assets/img/github.svg" alt="logo"></li>
        <li><img class="logos" src="{{site.baseurl}}/assets/img/nodejs.svg" alt="logo"></li>
      </ul>
  </div>