<div class="container">
	
    <h1 id="heroTitle">{{ page.title | default: site.title | default: site.github.repository_name }}</h1><br>
    <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->

    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>
    
    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>
    
    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>
    
    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>
    
  </div>
  
  <div class="top"></div>
  <div class="bottom">
    <ul class="logoList">
        <li><img class="logos" src="{{site.baseurl}}/assets/img/html5.svg" alt="logo"></li>
        <li><img class="logos" src="{{site.baseurl}}/assets/img/css3.svg" alt="logo"></li>
        <li><img class="logos" src="{{site.baseurl}}/assets/img/js.svg" alt="logo"></li>
        <li><img class="logos" src="{{site.baseurl}}/assets/img/php.svg" alt="logo"></li>
      </ul>
  </div>

  

