<header>
  <nav>
      <div class="wrapper">
          <a class="logo" href="/"><img id="logo" src="{{site.baseurl}}/assets/img/logo.svg" alt="gem logo"></a>
          <div id = "title">Mallory Zlomanchuk</div>
            <ul class="navMenu">
              <div class ="close"><a href="#" id="menu-icon"><img id="menu-icon" src="{{site.baseurl}}/assets/img/close.svg" alt="mobile menu"></a></div>
              <li>

                  {% for item in site.data.navigation %}
                      <a id="navLink" class="glow-on-hover" href="{{ item.link }}" {% if item.link == page.url %}class="active"{% endif %}>
                        {{ item.name }}
                      </a>
                  {% endfor %}

              </li>
            </ul>
          <div class="menu" id="menu"> 
            <a href="#" id="menu-icon"><img id="menu-icon" src="{{site.baseurl}}/assets/img/menu.svg" alt="mobile menu"></a>
          </div>
      </div>
  </nav>
</header>

<script src="{{site.baseurl}}/assets/js/app.js"></script>